[submodule "unframer"]
	path = unframer
	url = https://github.com/remorses/unframer
[submodule "spiceflow"]
	path = spiceflow
	url = https://github.com/remorses/spiceflow
	branch = new
[submodule "cac"]
	path = cac
	url = https://github.com/remorses/cac.git
