.slider input[type="range"] {
    height: 26px;
    margin: 0;
    -webkit-appearance: none;
    background-color: transparent;
}

.slider input[type="range"]::-moz-focus-outer {
    border: 0;
}

.slider input[type="range"]:focus {
    outline: none !important;
    box-shadow: none;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, var(--framer-fresco-sliderTrackActive-color, #0099ff) calc(var(--progress)), var(--framer-fresco-sliderTrack-color, #dddddd) calc(var(--progress)));
    border-radius: 2px;
    height: 2px;
    will-change: transform;
}

.slider input[type="range"]::-moz-range-track {
    background: linear-gradient(to right, var(--framer-fresco-sliderTrackActive-color, #0099ff) calc(var(--progress)), var(--framer-fresco-sliderTrack-color, #dddddd) calc(var(--progress)));
    border-radius: 2px;
    height: 2px;
    will-change: transform;
}

.slider input[type="range"]:disabled::-webkit-slider-runnable-track {
    background: var(--framer-fresco-sliderTrackDisabled-color, #eeeeee);
}

.slider input[type="range"]:disabled::-moz-range-track {
    background: var(--framer-fresco-sliderTrackDisabled-color, #eeeeee);
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--framer-fresco-sliderKnob-color, #ffffff);
    border: none;
    border-radius: 50%;
    box-shadow: var(--framer-fresco-sliderKnob-shadow, 0px 1px 3px 0px rgba(0, 0, 0, .2), 0px .5px 0px 0px rgba(0, 0, 0, .1));
    cursor: pointer;
    margin-top: -4px;
    opacity: 1;
    height: 10px;
    width: 10px;
    /* height: 12px;
    width: 12px; */
    will-change: transform;
}

.slider input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    background-color: var(--framer-fresco-sliderKnob-color, #ffffff);
    border: none;
    border-radius: 50%;
    box-shadow: var(--framer-fresco-sliderKnob-shadow, 0px 1px 3px 0px rgba(0, 0, 0, .2), 0px .5px 0px 0px rgba(0, 0, 0, .1));
    cursor: pointer;
    height: 10px;
    margin-top: -4px;
    opacity: 1;
    width: 10px;
    will-change: transform;
}

.slider input[type="range"]:disabled::-webkit-slider-thumb {
    display: none;
}

.slider input[type="range"]:disabled::-moz-range-thumb {
    display: none;
}

.slider input[type="range"].large::-webkit-slider-runnable-track {
    height: 4px;
}

.slider input[type="range"].large::-moz-range-track {
    height: 4px;
}

.slider input[type="range"].large::-webkit-slider-thumb {
    height: 20px;
    margin-top: -9px;
    width: 20px;
}

.slider input[type="range"].large::-moz-range-thumb {
    height: 20px;
    margin-top: -9px;
    width: 20px;
}