/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global CSS */
/* Keep this file for helpful built-in styles */

/* Reset */

body,
html,
#root {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dark {
    border-color: var(--framer-color-divider);
}

#nprogress .bar {
    top: unset !important;
    bottom: 0 !important;
}

#nprogress .peg {
    bottom: 0;
    top: unset !important;
    display: none !important;
}

.show-focus button:focus-visible {
    @apply outline-none ring-2 ring-framer-tint;
}

*:focus {
    outline: none;
}

/* main {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 15px 15px 15px;
    height: 100%;
    gap: 15px;
} */
