/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global CSS */
/* Keep this file for helpful built-in styles */

/* Reset */

body,
html,
#__next {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dark {
    border-color: var(--framer-color-divider);
}

/* main {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 15px 15px 15px;
    height: 100%;
    gap: 15px;
} */
